<ngx-sonner-toaster richColors />
<app-header />
<main>
  <app-button
    text="add new task"
    class="my-3 block"
    btnClass="transition-all hover:scale-105"
    (handleClick)="handleNewTaskButton()"
  />

  @if (showTaskAdder()) {
  <add-task
    (onAddTask)="handleAddTask($event)"
    (onCancel)="handleCancelAddTask()"
  />
  } @else {
  <section class="flex gap-2 items-center text-sm">
    <p>Sort by:</p>
    <select
      name="sortBy"
      id="sortBy"
      class="p-2 border rounded-lg ml-1"
      (change)="handleChangeSort($event)"
      [value]="sortBy()"
    >
      <option value="Priority+">Priority (High - Low)</option>
      <option value="Priority-">Priority (Low - High)</option>
      <option value="DueDate+">Due Date closest to now</option>
      <option value="DueDate-">Due Date farthest from now</option>
      <option value="DateAdded+">Date Added (asc)</option>
      <option value="DateAdded-">Date Added (desc)</option>
    </select>
  </section>
  }

  <section class="mt-5">
    <ul class="space-y-4 w-2xl max-w-full">
      @for (item of sortedTasks(); track $index) {
      <task
        [task]="item"
        class="block"
        (onDelete)="handleDeleteTask($event)"
        (onEdit)="handleEditTask($event)"
      />
      }
    </ul>
  </section>
</main>
